/* Allow mouse to select content */
pre, pre > code, #content_views {
    user-select: unset !important;
}

/* 隐藏各类干扰元素（登录复制、广告、工具栏等） */
#recommendAdBox,
#toolbarBox,
#articleSearchTip,
.btn-code-notes::after,
.hide-preCode-box,
.opt-box > button,
.opt-box > div,
.opt-box > .code-run-btn,
.passport-login-container,
.passport-login-tip-container,
.rightside-fixed-hide,
.tool-active-list,
.gitcode-quick-app,
.swiper-slide-box-remuneration,
div.hide-article-box,
div:has(.csdn-side-toolbar) {
    display: none !important;
    visibility: hidden !important;
}

/* Code auto-expansion */
main div.blog-content-box pre.set-code-hide,
main div.blog-content-box pre {
    height: unset !important;
    max-height: unset !important;
}

/* Remove the restriction of "关注博主即可阅读全文" */
#article_content {
    height: unset !important;
    overflow: unset !important;
}

/* 移除背景图片、样式，简化界面 */
.ai-abstract {
    background-image: unset !important;
    border: 1px wheat solid;
}

aside div.aside-box h3.aside-title,
body {
    background: unset !important;
}
